<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rocket loader</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div class="scene">
        <div class="info">
            <h1>Rocket Loader</h1>
            <p>A Pox Development Component</p>
        </div>
        <div class="rocket">
            <img src="https://www.clipartmax.com/png/full/112-1123035_rocket-rocket-icon-png.png" />
        </div>
    </div>
    <script src="functions.js"></script>
</body>

</html>